<h2>Sign-Up</h2>

<form class="form sign-up-form">
  <div class="form-group">
    <label for="name-sign-up">name:</label>
    <input class="form-input" type="text" id="name-sign-up" />
  </div>
  <div class="form-group">
    <label for="email-sign-up">email:</label>
    <input class="form-input" type="text" id="email-sign-up" />
  </div>
  <div class="form-group">
    <label for="password-sign-up">password:</label>
    <input class="form-input" type="password" id="password-sign-up" />
  </div>
  <div class="form-group">
    <button class="btn btn-primary" type="submit">Sign-up</button>
  </div>
</form>

<script src="/js/sign-up.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
